.add-product{
  min-height: 100vh;
  padding: 10rem 10% 2rem;
}

.add-product h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 4rem;
  margin-left: 2rem;
}

.add-product form{
  display: flex;
  flex-direction: column;
}

.add-product form input{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #766C6C;
  margin-bottom: 1.5rem;
  background-color: transparent;
}


.add-product form input::placeholder{
  color: #766C6C;
}

.add-product form input[type='text']{
  flex: 1 1 80%;
}

.add-product form .row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.add-product form .row .upload{
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #766C6C;
  height: min-content;
}

.add-product form .row .upload label{
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-product form .row .upload label img{
  width: 10px;
  margin-left: 0.5rem;
} 

.add-product form .row .upload input[type = 'file']{
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(1.5);
  opacity: 0;
  cursor: pointer;
}

.add-product form .row .upload input[type = 'file']::-webkit-file-upload-button{
  cursor: pointer;
}

.add-product form .row .upload{
  flex: 1 1 28%;
} 

.add-product form .save{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--btn-primary);
  padding: 0.8rem;
  width: 20rem;
  border-radius: 0.5rem;
  align-self: flex-end;
  margin-top: 5rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}


/* ========================= Media Queries ========================== */
/* tablet */
@media (max-width: 767px) {
  .add-product form .row{
    flex-wrap: wrap;
    gap: 0;
  }

  .add-product form .row .upload{
    margin-bottom: 2rem;
  }

  .add-product form .row .upload label{
    gap: 0.5rem;
  }

  .add-product form .row .map img{
    margin-left: 1rem;
  }
}

/* Handphone */
@media (max-width: 450px) {
  .add-product{
    padding: 10rem 8% 2rem;
  }
}